<div class="container" id="top-of-list">
  <div class="d-flex justify-content-center my-4">
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <div class="card" style="width: 14rem;">
          <%= cl_image_tag cocktail.photo, height: 200, width: 200, crop: :fill, class:'card-img-top' %>
          <div class="card-body">
            <%= link_to cocktail.name, cocktail_path(cocktail), class:'card-text' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center my-4">
    <%= link_to "Create a cocktail", new_cocktail_path, class:"btn btn-primary" %>
  </div>
  <div class="d-flex justify-content-center my-4">
    <a href="#top-of-list">Back to top</a>
  </div>
</div>
