<div class="container">
  <h1>Delicious cocktails</h1>
  <p><%= link_to "Create a cocktail", new_cocktail_path %></p>
  <ul>
    <% @cocktails.each do |cocktail| %>
      <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <% end %>
  </ul>
</div>
